
.dashprofile{
    background-image: url('../assets/dashbackground.jpg');
    background-size: cover;
    height: 140vh;
    width: 100%;
}
.profilenavbar{
    background-image: url('../assets/dashbackground.jpg');
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 100%;
    top: 0;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
position: fixed;
z-index: 100;
display: flex;
justify-content: space-between;
padding: 2rem;

}
.profilenavbar .profile-left{
    margin-left: 10rem;
}
.profilenavbar .profile-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    margin-right: 5rem;    
}
.profilenavbar .profile-icon{
    margin-right: 2px;
    font-size: 1rem;
    margin-top: 2px;    
}
.profile-buton{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 40px;
    width: 100px;
    margin-top: -7px;
 }

 .profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
   
    margin-right: 100px;
    /* background-color: red; */
    /* padding-top: 2rem; */
 }
 .profile-containerleft{
    background-color: white;
    height: 100vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 9rem;
    padding: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
 }
 .profile-containerleft input{
    background-color: rgb(173, 167, 167);
 }
 .profile-one{
    border-bottom: 1px solid black;
    width: 200px;
    display: flex;
    justify-content: center;
 }