.dashpage{
    background-image: url('../assets/dashbackground.jpg');
    width: 110%;
}
.dashnavbar{
    height: 100px;
    width: 100%;
    top: 0;
    background-image: url("../assets/dashbackground.jpg");
background-size: cover;
background-position: center;
color: white;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
position: fixed;
z-index: 100;
display: flex;
justify-content: space-between;
padding: 2rem;

}
.dashnavbar .dashpage-left{
    margin-left: 10rem;
}
.dashnavbar .dashpage-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    margin-right: 5rem;    
}
.dashnavbar .dashpage-icon{
    margin-right: 2px;
    font-size: 1rem;
    margin-top: 2px;    
}
.dashpage-buton{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 40px;
    width: 100px;
    margin-top: -7px;
 
    
    
}
.card{
    height:240px ;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
color: black;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}
.card .cardcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.card .patients{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: rem;
}

.smallcard1{
    height: 110px;
    width: 180px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -250px;
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    background-color: rgb(71, 151, 222);
}
.smallcard1 .icon{
    font-size: 2rem;
}
.smallcard2{
    height: 110px;
    width: 180px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -250px;
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    background-color: rgb(86, 133, 16);
}
.smallcard2 .icon{
    font-size: 2rem;
}

.smallcard3{
    height: 110px;
    width: 180px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: -250px;
    margin-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    background-color: rgb(199, 21, 21);
}
.smallcard3 .icon{
    font-size: 2rem;
}

.cardcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 10rem;
  
}
.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 10rem;
}
 .tablehead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: 1.5rem;
   /* background-color: blue; */
 }
.orderspage{
    background-color: white;
    height: 100vh;
    padding: 1rem;
    margin-left: 143px;
    margin-right: 120px;
    border-radius: 3px;
    z-index: 1;
}
.orderspage .dashsearch{
 height: 30px;
 width: 200px;
 display: flex;
 flex-direction: row;
 align-items: center;
 border-bottom: 2px solid black;
 
} 
.dashsearch .icon{
    color: rgb(152, 147, 147);
}
.dashsearch input{
    border: none;
    outline: none;
    height: px;
    width: 100px; 
    background-color: white; 
}
.dashsearch input::hover{
    background-color: rgb(28, 77, 120);
}
.table{  
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 15px;
    
    
}
.tabletitle{
    background-color: blue;
    color: white;
    font-size: 13px;
}
table{
    width: 100%;
    border-collapse: collapse;
    
  
}


th{
    padding: 0.75rem;
    text-align: left;
    justify-content: left; 
    color: black;
    
    
} 
td{
    padding: 0.75rem;
    text-align: left;
    justify-content: left; 
    color: gray;

}
th{
    background-color: white;
}
tr:nth-child(even){
    background: #f9f9f9;
}


