.dashpredict{
    background-image: url('../assets/dashbackground.jpg');
    background-size: cover;
    height: 140vh;
    width: 130%;
}
.predictnavbar{
    background-image: url('../assets/dashbackground.jpg');
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 100%;
    top: 0;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
position: fixed;
z-index: 100;
display: flex;
justify-content: space-between;
padding: 2rem;

}
.predictnavbar .predict-left{
    margin-left: 10rem;
}
.predictnavbar .predict-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
    margin-right: 5rem;    
}
.predictnavbar .predict-icon{
    margin-right: 2px;
    font-size: 1rem;
    margin-top: 2px;    
}
.predict-buton{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 40px;
    width: 100px;
    margin-top: -7px;
 
    
    
}

.predict-onetimeusers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    /* background-color: red; */
    margin-top: 5rem;
    padding-top: 60px;
}
.predict-Left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 1rem;
    height:18rem;
    width: 28rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    /* background-color: black; */
    margin-top: -10rem;
    background: linear-gradient(to top, black, transparent);
    
}
.predict-buttons{
   display: flex;
   flex-direction: column;
   
   gap: 5px;
}
.predict-one{
    background-color: rgb(0, 179, 255);
    height: 80px;
    width: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    font-weight: 700;
}
.predict-two{
    background-color: rgb(0, 179, 255);
    height: 80px;
    width: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    font-weight: 700;
}
.predict-buttons .predict-icon{
    font-size: 20px;
    font-weight: 700;
}
.predict-words{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 13px;
}
.predict-Right{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: white;
    color: black;
    height: 43rem;
    width: 33rem;
    border-radius: 5px;
}
.predict-top{
    background-color: rgb(0, 179, 255);
    height: 50px;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: -1rem;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    /* padding-bottom: 5rem; */
}
.predict-bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding-top: 2rem; */
    /* margin-top: rem; */
}
.predict-title{
    display: flex;
    justify-content: center;
    font-size: 15px;
    /* margin-top: 2rem; */
}
.predict-leftside{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: px;
    /* background-color: red; */
}
.predict-rightside{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: px;
    /* background-color: blue; */
}
.predict-leftside input{
    /* font-size: 1rem; */
    border: none;
    outline: none;
    color: black;
    width: 200px;
    background-color: rgb(255, 254, 254);
    
}
.predict-rightside input{
    /* font-size: 1rem; */
    border: none;
    outline: none;
    color: black;
    height: 20px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    
}
.predict-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 220px;
    margin-bottom: 1rem;
    /* background-color: black; */
    /* margin-top: 3rem; */
  /* margin-bottom:3rem;   */
}
.predict-label{
    font-size: 15px;
    /* background-color: red; */
}
.predict-middle{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
    /* justify-content: center; */

}
.predict-Right .predict-buttonn{
   background-color: rgb(0, 179, 255);
   color: white;
   width: 120px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin-left: 2rem;
   margin-top: -1rem;
}