.registration{
    background-image: url(../assets/dashbackground.jpg);
    background-size: cover;
    width: 100%;
    height: 140vh;
    
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.register-container{
    background-color: white;
    color: black;
    width: 25rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
    padding-bottom: 2rem;
    padding-top: 1rem;

}
.register-tittle{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(37, 120, 155) ;
}
.register-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
}
form{
   
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1rem; */
    align-items: center;
    justify-content: center;
    
    
}
.register-icon2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

label{
    font-size: 2rem;

}
.register-picture{
    font-size: 100px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:  rgb(37, 120, 155);
    width: 130px;
    height: 40px;
    border-radius: 3px;
    margin-top: 1rem;

}
.registernavbar{
    display: flex;
    gap: 30.7rem;
    margin-left: 130px;
    margin-right: 110px;
    align-items: center;
    padding: 20px;
    padding-top: 2rem;
    

}
.register-icon{
    display: flex;
    flex-direction: row;
    gap: 3px;
    color: white;
}
.register-iconn{
    font-size: 13px;
}
.register-logo{
    font-size: 20px;
    font-weight: 500;
    color: white;

}
.register-menu{
    display: flex;
      flex-direction: row;
      gap: 20px;
      font-size: 11px;
}

.signup-black {
    /* background-color: blue; */
    background: linear-gradient(to top, black, transparent);
    height: 100vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    /* display: inline-block; */
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  /* Hover Effect */
  .signup-black:hover {
    /* background-color: white; */
    background: linear-gradient(to top, black, transparent);
    color: black;
    transform: scale(1.1); /* Slightly enlarge */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Active (when clicked) */
  .signup-black:active {
    transform: scale(0.95); /* Slightly shrink */
  }
  .signup-both{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-left: -6rem; */
    gap: 0.5rem;
  }